.controlButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prevButton {
    margin: 10px 20px;
}

.playButton {
    margin: 0 20px;
}

.nextButton {
    margin: 10px 20px;
}

// @media (max-width: 730px) {
//     .prevButton {
//         margin: 5px 10px;
//     }
    
//     .playButton {
//         margin: 0 0;
//     }
    
//     .nextButton {
//         margin: 5px 10px;
//     }
// }