.albumCover {
    width: 350px;
    height: 350px;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
}

.songInfo {
    padding: 5px;
    line-height: 20px;
}

.songName {
    font-size: 30px;
}

.songArtist {
    font-size: 20px;
}

.songTime {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.currentSongTime {
    padding: 15px;
}

.audioDuration {
    padding: 15px;
}

.seekBar {
    height: 1%;
    width: 60%;
    border-style: solid;
    margin-top: 20px;
}

@media (max-width: 1300px) {
    .albumCover {
        width: 225px;
        height: 225px;
    }
}