.albumCover {
    width: 400px;
    height: 400px;
}

.songTime {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.currentSongTime {
    padding: 15px;
}

.audioDuration {
    padding: 15px;
}

.seekBar {
    height: 1%;
    width: 70%;
    border-style: solid;
    margin-top: 30px;
}