.albumCover {
    width: 400px;
    height: 400px;
}

.songTime {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.currentSongTime {
    padding: 10px;
}

.audioDuration {
    padding: 10px;
}